.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h2 {
  margin-top: 10px;
}

p {
  margin-top: 10px;
  color: #666;
}

.cardsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardCover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  color: #336cdc;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  padding: 40px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content p {
  margin: 0;
  font-weight: bold;
  font-size: 16px; /* Adjust font size to match Aitupay */
}

.header-content img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .header {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
  }
  
  .header-content {
      margin-bottom: 10px;
  }
  
  .header-content img {
      margin: 10px 0;
  }
}
